"rooms": [
    {
        "ref": "AA EG 25",
        "name": "Sem 311",
        "entrances": [
            {
                "lat": "48.1990228",
                "lon": "16.3690778"
            },
            {
                "lat": "48.1990780",
                "lon": "16.3691224"
            }
        ]
    },
    {
        "ref": "AS EG 33"
        "name": ""
        "entrances": [
            {
                "lat": "48.1986583",
                "lon": "16.3688710"
            }
        ]
    }
]
